<!-- ======== START OF HEADER SECTION ========= -->
{% include "backend_includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/menubar.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="content-wrapper">
        <div class="col-md-12">&nbsp;</div>
        <section class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">All Accounts Under You</h3>
                        </div>

                        <div class="col-md-6">
                            <div class="set-{{confirm.2}}">
                                {% if confirm.2 %}<b class="btn-cross">×</b>{% endif %}
                                <h4>{{confirm.0}}</h4>
                                <div class="set-{{confirm.2}}">
                                    {% if confirm.2 %}<h6>{{confirm.1}}</h6>{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th>Account Type</th>
                                        <th>Image</th>
                                        <th>User Info</th>
                                        <th>Verification</th>
                                        <th width="60">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in userData %}
                                    <tr>
                                        <td width="80"><b class="text-info">{{ i.account_type | title | cut:'_' }}</b></td>
                                        <td><img width="50" src="/media/account-img/profile-img/{{ i.profile_img }}" alt="" align="middle"></td>
                                        <td>
                                            <b>{{ i.name }}</b><hr style="margin: 5px 0px;">
                                            <small><b>Username : </b> <span>{{ i.username }}</span></small><br>
                                            <small><b>Email : </b> <span>{{ i.email }}</span></small><br>
                                            <small><b>Contact : </b> <span>{{ i.contact_no }}</span></small>
                                        </td>
                                        <td>
                                            <small><b>Info : </b> <span class="{% if i.info_verified == True %}text-success{% else %}text-danger{% endif %}">{{ i.info_verified }}</span></small><br>
                                            <small><b>Email : </b> <span class="{% if i.email_verified == True %}text-success{% else %}text-danger{% endif %}">{{ i.email_verified }}</span></small><br>
                                            <small><b>Account : </b> <span class="{% if i.account_verified == True %}text-success{% else %}text-danger{% endif %}">{{ i.account_verified }}</span></small>
                                        </td>
                                        <td style="width: 120px;">
                                            <select class="form-control takeAction" data-id="{{ i.username }}" style="border: 2px solid powderblue;">
                                                <option {% if i.status == 'active' %} selected {% endif %} value="active">Active</option>
                                                <option {% if i.status == 'suspend' %} selected {% endif %} value="suspend">Suspend</option>
                                                <option {% if i.status == 'band' %} selected {% endif %} value="band">Band</option>
                                                <option {% if i.status == 'behold' %} selected {% endif %} value="behold">Behold</option>
                                            </select>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control sidebar content goes here -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- /.control-sidebar -->
    </aside>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "backend_includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->

<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging"       : true,
            "lengthChange" : false,
            "searching"    : false,
            "ordering"     : true,
            "info"         : true,
            "autoWidth"    : false,
        });
    });
</script>


<!-- <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script> -->
<script type="text/javascript" src="{% static 'js/js.cookie.min.js' %}"></script>

<script type="text/javascript">
{% block domready %}

    var csrftoken = Cookies.get('csrftoken');
    //console.log(csrftoken);
    function csrfSafeMethod(method) {
        // these HTTP methods do not require CSRF protection
        return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
    }
    $.ajaxSetup({
        beforeSend: function(xhr, settings) {
            if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                xhr.setRequestHeader("X-CSRFToken", csrftoken);
            }
        }
    });


    $(document).on('change', '.takeAction', function(e){
        e.preventDefault();

        var status = $(this).val();
        var userId = $(this).data('id');
        console.log(status);
        console.log(userId);

        $.ajax({
            type : "POST",
            url  : "{% url 'all_account' %}",
            data : {
                csrfmiddlewaretoken: csrftoken,
                'change_status' : "change_status",  
                'status'        : status, 
                'userId'        : userId, 
            },
            dataType: "json",
            success: function(data){
                //console.log(data);
                status = data.status;
            },
            error: function(res, e){
                alert("Something Went Wrong");
            }
        });
    });

{% endblock %}
</script>