<!-- ======== START OF HEADER SECTION ========= -->
{% include "backend_includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/menubar.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="content-wrapper">
        <div class="col-md-12">&nbsp;</div>
        <section class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">All Admins</h3>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="40">SL</th>
                                        <th>Admin</th>
                                        <th>Designation</th>
                                        <th>Email</th>
                                        <th width="90">Set Privilege</th>
                                    </tr>
                                </thead>

                                <tbody>
                                    {% for i in userData %}
                                    <tr>
                                        <td>{{ i.id }}</td>
                                        <td>{{ i.name }}</td>
                                        <td>{{ i.designation }}</td>
                                        <td>{{ i.email }}</td>
                                        <td style="text-align: center;">
                                            <a href="{% url 'generate_privilege' i.user_id %}" title="Generate Privilege" class="btn-sm btn-info"><i class="fa fa-cog"></i></a>
                                            
                                            <a href="{% url 'set_privilege' i.user_id %}" title="Set Privilege" class="btn-sm btn-success"><i class="fa fa-cogs"></i></a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control sidebar content goes here -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- /.control-sidebar -->
    </aside>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "backend_includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->

<script>
    $(function () {
        $("#example1").DataTable();
        $('#example2').DataTable({
            "paging"       : true,
            "lengthChange" : false,
            "searching"    : false,
            "ordering"     : true,
            "info"         : true,
            "autoWidth"    : false,
        });
    });
</script>