appdirs==1.4.4
distlib==0.3.1
dj-database-url==0.5.0
Django==2.2.4
djongo==1.2.33
filelock==3.0.12
Pillow==8.0.1
dnspython
pymongo==3.11.2
pytz==2020.5
six==1.15.0
sqlparse==0.2.4
virtualenv==20.1.0
whitenoise==5.2.0

python-barcode
qrcode==5.1

appconf
django_compressor