<!-- ======== START OF HEADER SECTION ========= -->
{% include "backend_includes/header.html" %}
<!-- ======== END OF HEADER SECTION =========== -->
{% load static %}
{% block content %}

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/menubar.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <!-- ======== START OF HEADER SECTION ========= -->
    {% include "backend_includes/aside.html" %}
    <!-- ======== END OF HEADER SECTION =========== -->

    <div class="content-wrapper">
        <div class="col-md-12">&nbsp;</div>
        <section class="content">
            <div class="container-fluid">
                <div class="col-md-12">
                    <div class="card card-info">
                        <div class="card-header">
                            <h3 class="card-title">All Blogs</h3>
                        </div>
                        
                        <div class="col-md-6">
                            <div class="set-{{confirm.2}}">
                                {% if confirm.2 %}<b class="btn-cross">×</b>{% endif %}
                                <h4>{{confirm.0}}</h4>
                                <div class="set-{{confirm.2}}">
                                    {% if confirm.2 %}<h6>{{confirm.1}}</h6>{% endif %}
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <table id="example1" class="table table-bordered table-striped">
                                <thead>
                                    <tr>
                                        <th width="40">SL</th>
                                        <th>File</th>
                                        <th>Date</th>
                                        <th>Title</th>
                                        <th>Status</th>
                                        <th width="60">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for i in blogData %}
                                    <tr>
                                        <td>{{ i.id }}</td>
                                        <td><img width="60" alt="img" src="/media/user/blog_img/{{ i.blog_img }}"></td>
                                        <td>{{ i.date }}</td>
                                        <td>{{ i.blog_title }}</td>
                                        <td>{{ i.status | title }}</td>
                                        <td class="text-left py-0 align-middle">
                                            <div class="btn-group btn-group-sm">
                                                <a href="{% url 'blog_view' i.id %}" 
                                                class="btn btn-info"><i class="fas fa-eye"></i></a>

                                                <a href="{% url 'blog_edit' i.id %}" 
                                                class="btn btn-warning"><i class="fas fa-edit"></i></a>

                                                <a href="{% url 'blog_delete' i.id %}" 
                                                onclick="return confirm('Are you sure to delete this data ?');" 
                                                class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </div>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Control sidebar content goes here -->
    <aside class="control-sidebar control-sidebar-dark">
        <!-- /.control-sidebar -->
    </aside>

{% endblock content %}

<!-- ===== START OF FOOTER SECTION ======== -->
{% include "backend_includes/footer.html" %}
<!-- ===== END OF FOOTER SECTION ========== -->

<script>
    $(function () {
        $("#example1").DataTable({
            "paging"       : true,
            "lengthChange" : false,
            "searching"    : false,
            "ordering"     : true,
            "info"         : true,
            "autoWidth"    : false,
        });
    });
</script>